* {
    margin:0;
    padding:0;
}

html, body { width:100%; height:100%; }

.container {
  width: 100%;
  height: 100%;
}

.react-console-message-error {
  color: red;
}

.editor {
  vertical-align: top;
  display: inline-block;
  width: 75%;
  height: 100%;
}

.console {
  vertical-align: top;
  display: inline-block;
  width: 25%;
  height: 100%;
}
